<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{checkout_base}">--> // No more checkout_base
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>USMS</title>-->
<!--</head>-->
<!--<body>-->
<!--<div layout:fragment="page_content">-->
<!--    &lt;!&ndash; content for this page &ndash;&gt;-->
<!--    <div class="container text-center my-5">-->
<!--        <h1>Welcome to Unmanned Store Management System!</h1>-->

<!--        <div id="serialNotSupported" class="hidden">-->
<!--            <b>Web Serial</b> is not supported on this browser, make sure you are-->
<!--            running Chrome 78 or later and have enabled the-->
<!--            <code>#enable-experimental-web-platform-features</code> flag in-->
<!--            <code>chrome://flags</code>-->
<!--        </div>-->

<!--        <button id="scan" type="button">Click to Scan Your Purchase!</button>-->

<!--        <table class="table table-striped table-hover">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th scope="col">RFID</th>-->
<!--                <th scope="col">Name</th>-->
<!--                <th scope="col">Photo</th>-->
<!--                <th scope="col">Price (£)</th>-->
<!--                <th scope="col">Quantity</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody id="basket">-->
<!--            </tbody>-->
<!--        </table>-->

<!--        <p id ="rfidLog"></p>-->

<!--    </div>-->
<!--</div>-->
<!--<th:block layout:fragment="scripts">-->
<!--    &lt;!&ndash; add any scripts related to this page &ndash;&gt;-->
<!--    <script src="/js/checkout-script.js"></script>-->
<!--</th:block>-->
<!--</body>-->
<!--</html>-->