<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/chart.css">

</head>
<body>
<div layout:fragment="page_content">
  <!-- content for this page -->
  <div class="container text-center my-3">
    <h1 class="text-center py-3">Inventory</h1>
    <div class="card shadow">
      <div class="row my-2">
        <div id="pie-chart" class="col-10"></div>
        <div class="col-2 my-auto"><h6>Category Filter (Click Pie Chart)</h6></div>
      </div>
      <div class="row my-2">
        <div id="bar-chart" class="col-10"></div>
        <div class="col-2 my-auto"><h6>Store Filter (Click Bar Chart)</h6></div>
      </div>
    </div>
    <div class="container my-5">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Product ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Total Quantity</th>
          <th scope="col">Total Value (£)</th>
          <th scope="col">Store ID</th>
          <th scope="col">Store Name</th>
<!--          <th scope="col">See RFIDs</th>-->
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr th:each="p :${products}">
          <td th:text="${p.category}"></td>
          <td th:text="${p.prodId}"></td>
          <td th:text="${p.prodName}"></td>
          <td th:text="${p.totalAmount}"></td>
          <td th:text="${p.totalValue}"></td>
          <td th:text="${p.storeId}"></td>
          <td th:text="${p.storeName}"></td>
<!--          <td><a th:href="@{/usms/product/{id}/add_rfid(id=${p.prodId})}" class="btn btn-outline-primary btn-sm inline"><i class="fa-solid fa-tags"></i></a></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/js/inventory-pie-chart.js"></script>
  <script src="/js/inventory-bar-chart.js"></script>
  <script th:inline="javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(function() {
        drawPieChart();
        drawBarChart();
      });
  </script>

</div>
<th:block layout:fragment="scripts">
  <!-- add any scripts related to this page -->
</th:block>
</body>
</html>