<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="page_content">
    <!-- content for this page -->
    <div class="card shadow my-5 mx-5 py-5">
        <div classname="container my-5 p-5 w-50 offset-md-4">
            <h1 class="text-center pb-3">Staff Login</h1>

            <div class="container" th:if="${param.error}">
                <h4>Invalid username and password.</h4>
            </div>
<!--            <div class="container" th:if="${param.logout}">-->
<!--                <center><h4>You have been logged out.</h4></center>-->
<!--            </div>-->
            <form id="loginForm" class="px-5 mx-3">
                <div class="px-5">
                    <div class="px-5 mx-auto">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                </div>
                <div class="px-5">
                    <div class="px-5 mx-auto">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                </div>
                <div class="px-5">
                    <div class="px-5 mx-auto">
                        <p th:if="${signInError}" class="error">Your username or password is incorrect!</p>
                    </div>
                </div>
                <div class="m-5">
                <center><button type="button" id="form-submission" class="btn btn-primary">Submit</button></center>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <!-- add any scripts related to this page -->
    <script src="/js/login.js"></script>
</th:block>
</body>
</html>