<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="page_content">
  <!-- content for this page -->
  <div class="container text-center my-5">
    <h1 class="text-center pt-4">Users & Roles</h1>
    <div class="container my-5">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Profile</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Role</th>
          <th scope="col">Email (Username)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u :${allUsers}">
          <td th:text="${u.id}"></td>
          <td><img th:src="@{https://unmannedstore.blob.core.windows.net/wingman/profile/{id}/{profile}(id=${u.id}, profile=${u.profile})}" class="thumbnail"/></td>
          <td th:text="${u.firstname}"></td>
          <td th:text="${u.lastname}"></td>
          <td th:text="${u.role}"></td>
          <td th:text="${u.email}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<th:block layout:fragment="scripts">
  <!-- add any scripts related to this page -->
</th:block>
</body>
</html>